[submodule "spdlog"]
	path = LichenEngine/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "glfw"]
	path = LichenEngine/external/glfw
	url = https://github.com/lishacodesgames/slim-glfw.git
