[submodule "raylib"]
	path = LichenEngine/external/raylib
	url = https://github.com/lishacodesgames/slim-raylib.git
[submodule "spdlog"]
	path = LichenEngine/external/spdlog
	url = https://github.com/lishacodesgames/slim-spdlog.git